<div id="post_content">
  <h1 class="title">
    <%= @post.title %> 
  </h1>

  <p class="date">
      Submitted <%= time_ago_in_words(@post.created_at) %> Ago        
  </p>

  <p class="body">
    <%= @post.body %>
  </p>

  <p>
    <strong> Comments (<%= @post.comments.size %>):</strong>

    <%= form_for([@post, @comment]) do |f| %>
      <%= f.text_area :content %>
      <%= f.submit %>
    <% end %>

    <% @post.comments.each do |comment| %>
    <p><%= comment.content %></p>
    <% end %>
  </p>
</div>