<div id="post_content">
  <h1 class="title">
    <%= @post.title %> 
  </h1>

  <p class="date">
      Submitted <%= time_ago_in_words(@post.created_at) %> Ago        
  </p>

  <p class="body">
    <%= @post.body %>
  </p>
  
  <p class="all_tags">
    # <%= @post.all_tags %>
  </p>

  <p class="pic">
    <%= image_tag(@post.pic.url) %>
  </p>
    <strong> Comments (<%= @post.comments.size %>):</strong>

    <div id="comment_list">
      <% @post.comments.each do |comment| %>
        <%= render comment %>
      <% end %>      
    </div>

    <%= form_for([@post, @comment]) do |f| %>
      Comment <%= f.text_area :content %> Name <br>
      <%= f.text_field :name %> Email address <br>
      <%= f.text_field :email_address %>  <br>
      <%= f.submit %>
    <% end %>
  </p>

  <%= link_to 'Home', posts_path %>
</div>