<div id="post_content">
  <h1 class="title">
    <%= @post.title %> 
  </h1>

  <p class="date">
      Submitted <%= time_ago_in_words(@post.created_at) %> Ago        
  </p>

  <p class="body">
    <%= @post.body %>
  </p>
  
  <p class="all_tags">
    # <%= @post.all_tags %>
  </p>

  <p class="pic">
    <%= image_tag(@post.pic.url) %>
  </p>
    <strong> Comments (<%= @post.comments.size %>):</strong>

    <%= form_for([@post, @comment]) do |f| %>
      <%= f.text_area :content %> Comment <br>
      <%= f.text_field :name %> Name <br>
      <%= f.text_field :email_address %> Email address <br>
      <%= f.submit %>
    <% end %>

    <% @post.comments.each do |comment| %>
    <p><%= comment.content %> Comments by :
    <%= comment.name %> Email :
    <%= comment.email_address %></p>
    <% end %>
  </p>

  <%= link_to 'Home', posts_path %>
</div>